.win-condition {
    background-color: cadetblue;
}

.you-step {
    color: darkgreen;
}

.opponent-step {
    color: indianred;
}

.panels-layout {
    display: flex;
    margin: auto;
}

.player-nick {
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vs-label {
    font-size: 2rem;
    text-align: center;
}

.players-panel {
    margin: auto;
    height: 500px;
}

.field-panel {
    margin: auto;
    width: 500px;
    height: 500px;
}

.log-panel {
    margin: auto;
    height: 500px;
}

.game-field {
    width: 100%;
    height: 100%;
    text-align: center;
}

.game-cell {
    font-size: 5rem;
    min-width: 182px;
    border: 1px dashed;
}

.centered-text {
    text-align: center;
}